div#favorite_title {
    width: 100%;
    position: fixed;
    top: 2%;
    text-align: center;
    font-size: 363%;
}
div#favoli {
    display: flex;
    width: 100%;
    padding-top: 13%;
    flex-wrap: wrap;
}

.favocon {
    width: 50%;
    text-align: center;
    padding-top: 5%;
}
button.favoimg {
    border-color: white;
    border-block-style: none;
    border-right-style: none;
    background: none;
}

img {
    border-radius: 35px;
}
