div#back {
    font-size: 5em;
    float: left;
}

div#login_title {
    position: fixed;
    left: 38%;
    top: 2%;
    font-size: 320%;
    color: saddlebrown;
}
div#login_title1 {
    position: fixed;
    left: 31%;
    top: 2%;
    font-size: 320%;
    color: saddlebrown;
}
div#login_form {
    padding-top: 14%;
    text-align: center;
}
a#modoru {
    text-decoration: none;
    color: black;
}
div#pass {
    margin-top: 10%;
}

div#login {
    margin-top: 10%;
    text-align: center;
}
div#mongon {
    font-size: 2.5em;
    margin-top: 20%;
}
div#mongon1 {
    font-size: 2.5em;
}
div#resub {
    margin-top: 15%;
}

input[type="mailaddress"] {
    font-size: 4em;
    background-color: gainsboro;
    padding: 11px;
    border-radius: 25px;
}

input[type="password"] {
    font-size: 4em;
    background-color: gainsboro;
    padding: 11px;
    border-radius: 25px;
}
input[type="submit"] {
    font-size: 3.5em;
    background-color: #f5deb3;
}
input[type="button"] {
    font-size: 3.5em;
}
input#address {
    font-size: 4em;
    background-color: gainsboro;
    padding: 11px;
    border-radius: 25px;
}
div#login_error {
    font-size: 3em;
    display: inline-block;
    text-align: left;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    color: red;
}

div#login1 {
    margin-top: 10%;
}
a.reissuepass {
    font-size: 3em;
    text-decoration: none;
}
.pass {
    margin-top: 5%;
}
div#repass {
   text-align: end;
   margin-top: 10%;
}
