div#favorite_title {
    width: 43%;
    position: fixed;
    top: 2%;
    text-align: center;
    font-size: 320%;
    left: 27%;
}

div#favoli {
    display: flex;
    width: 100%;
    /* padding-top: 13%; */
    padding-top: 18%;
    flex-wrap: wrap;
    padding-bottom: 25%;
}

div#delete_button {
    text-align: end;
    margin-right: 3%;
    font-size: 10%;
    position: fixed;
    right: 1%;
    top: 3%;
}

button.delete_button {
  border-radius: 100%;
  border-color: red;
  background-color: red;
  color: white;
  width: 12%;
  height: 14%;
  float: left;
  margin-left: 10%;
  margin-top: -2%;
}

button.update_button {
    width: 9.5em;
    height: 5.5em;
    background-color: #a0522d;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    /* font-size: 15px; */
}



.favocon {
    width: 50%;
    text-align: center;
    padding-top: 1%;
    position: static;
}

button.favoimg {
    border-color: white;
    border-block-style: none;
    border-right-style: none;
    background: none;
    font-size: 27px;
}

img.imagelist {
    border-radius: 35px;
    width: 100%;
    height: 390px;
}


span.group-label {
    font-size: 40px;
}

input#asc_sort {
    width: 40px;
    height: 40px;
}

div#area_list {
    font-size: 37px;
}

input.area {
    height: 43px;
    width: 43px;
    vertical-align: middle;
}

div#genre_list {
    font-size: 37px;
}

input.genre {
    height: 43px;
    width: 43px;
    vertical-align: middle;
}

.asc_name {
    padding-left: 47px;
    padding-top: 40px;
}