div#mypage_title {
    text-align: center;
    font-size: 3em;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}
div#mypage1 {
    padding-top: 35%;
    text-align: center;
}
div#mymail {
    font-size: 3.5em;
}
div#mypass {
    font-size: 3.5em;
    margin-top: 16%;
}
input#mailchange {
    font-size: 1em;
}
input#passchange {
    font-size: 1em;
}
