
#picture {
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    display: inline-block;
    width: 80%;
    height: 50%;
}



#picture #picture_path {
    position: absolute;
    width: 78%;
    height: 83%;
    border: 1px solid #a6a9aa;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 7px 0px #cfcfcf;
}
div#sightseeing_place {
    float: left;
    width: 100%;
    font-size: 360%;
    text-align: center;
}

div#city_name {
    width: 98%;
    position: fixed;
    top: 3%;
    text-align: end;
    font-size: 270%;
}

#picture #no_sightseeing {
  position:absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:265px;
  height:315px;
  background-repeat: no-repeat;
}
