div#back {
    font-size: 5em;
    float: left;
    padding-top: 1%;
}

a#modoru {
    text-decoration: none;
    color: saddlebrown;
}

div#newregpin_title {
    position: fixed;
    left: 36%;
    top: 2%;
    font-size: 310%;
    color: saddlebrown;
}
div#newreg_form {
    padding-top: 15%;
    text-align: center;
}
div#newregmail_messe {
    font-size: 2.2em;

    margin: 10%;
    padding-top: 15%;
    text-align: center;
    margin-bottom: 10%;
}

div#newregpin_messe {
    padding-top: 15%;
    text-align: center;
}

input[type="email"] {
    padding: 11px;
    font-size: 4em;
    background-color: gainsboro;
    border-radius: 25px;
}

input::placeholder {
    font-size: 0.7em;
    /* font-style: italic; */
    padding-left: 25px;
}

input[type="submit"] {
    font-size: 3.5em;
    background-color: #e6c8a1;
    border-radius: 30px;
    padding-top: 0.5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0.5%;
    color: saddlebrown;
}
input[type="password"] {
    font-size: 4em;
    padding: 11px;
    background-color: gainsboro;
    border-radius: 25px;
}
.pass {
    text-align: center;
}
input#pin {
    padding: 11px;
    font-size: 4em;
    background-color: gainsboro;
    border-radius: 25px;
}
div#sendmail {
    text-align: center;
    padding-top: 10%;
}


div#email_touroku {
    font-size: 2.2em;
    display: inline-block;
    text-align: left;
    margin: 10%;
}

div#email {
    text-align: center;
}
span#result{
  margin-left: 8%;
  font-size: 40px;
}

div#mail_error {
    font-size: 3em;
    text-align: center;
    margin: 10%;
    margin-bottom: 1%;
    color: red;
}


div#sendmail_error {
    text-align: center;
}
div#pass_error {
    color: red;
}
span#result_confirm {
    margin-left: 8%;
    font-size: 40px;
}
div#mase {
    text-align: left;
    display: inline-block;
}
