img{
  width: 562.5px; height: 1218px;
  margin-top: 10%;
}
div#move_button {
    text-decoration: none;
    color: black;
    font-size: 5em;
    border-radius: 4rem;
    background-color:#ddd;
    position:fixed; right:40px;bottom:80px;
    text-align:right;
    width: 12%;
}

div#back_button {
    text-decoration: none;
    color: black;
    font-size: 5em;
    border-radius: 4rem;
    background-color:#ddd;
    position:fixed; left:40px;bottom:80px;
    text-align:left;
    width: 12%;
}
div.tutorial{
  margin-top: 4%;
  text-align: center;
}
div#tutorial_txt{
  font-size: 3em;
  margin-top: 10%;
  text-align: center;
}
