
<div id = "i">
  <div id="menu-gazou">
    <ul class="topng" ontouchstart="">
    	<li class ="list">
        <img src="../image/home.png" class="menu-icon">
        <input type="button" class="button" value="" onclick="location.href='http://<%= ipadress%>:8080/book/sightseeing_swipe/Swipe.action'">
        <div class="footer_font">HOME</div>
      </li>
    	<li class ="list">
        <img src="../image/okiniiri.png" class="menu-icon">
        <input type="button"class="button" value="" onclick="location.href='http://<%= ipadress%>:8080/book/favorite/favoritelist'">
        <div class="footer_font">FAVORITE</div>
      </li>
    	<li class ="list">
        <img src="../image/cupon.png" class="menu-icon">
        <input type="button"class="button" value="" onclick="location.href='http://<%= ipadress%>:8080/book/coupon/couponsearch'">
        <div class="footer_font">COUPON</div>
      </li>
    	<li class ="list">
        <img src="../image/hito.png" class="menu-icon">
        <input type="button"class="button" value="" onclick="location.href='http://<%= ipadress%>:8080/book/mypage/mypage.jsp' ">
        <div class="footer_font">MYPAGE</div>
      </li>
    </ul>
  </div>
  <div id="menu-text">
        <!-- <ul class ="topng"> -->
          <!-- <li class ="list">HOME</li> -->
          <!-- <li class ="list">FAVORITE</li> -->
          <!-- <li class ="list">COUPON</li> -->
          <!-- <li class ="list">MYPAGE</li> -->

      <!-- </ul> -->
  </div>
</div>
